/*
    Variables
*/

$primary: hsl(25, 97%, 53%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(228, 11%, 9%);

/*
    Import google font Overpass
*/
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  Remove default margin
*/
* {
    margin: 0;
    padding: 0;
}

/*
  Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    font-family: 'Overpass',sans-serif;
    font-size: 15px;
    background-color: $very-dark-blue;
    color: white;
}


p {
    color: $light-grey;
    line-height: 1.5rem;
}

button, label {
    transition: all 200ms ease-in-out;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $dark-blue;
    color: $light-grey;

    $size: 3rem;
    width: $size;
    height: $size;
    border-radius: 50%;
}

label:hover {
    background-color: $medium-grey;
    color: white;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked+label {
    background-color: $primary;
    color: white;
}

@mixin card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #1a212b;
    border-radius: 1.5rem;
    row-gap: 1.5rem;
    padding: 2rem;
    max-width: 28rem;
}

.rating-card {
    @include card
}

.star-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

@keyframes pulse {
    from {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    to {
        transform: scale(1, 1);
    }
}

.star-icon img {
        animation: pulse 3s infinite;
    }

.rating {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.submit-btn{
    cursor: pointer;
    width: 100%;
    padding: 1rem 0;
    border: none;
    border-radius: 3rem;
    background-color: $primary;
    color: white;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    transition: all 200ms ease-in;
}

.submit-btn:hover {
    background-color: white;
    color: $primary;   
}

.thank-you-card {
    @include card;
    display: none;
    align-items: center;
    justify-content: center;
}

.thank-you-card p {
    text-align: center;
}
 
.rating-text {
    color: $primary;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: $dark-blue;
}

.error {
    display: none;
    background-color: $dark-blue;
    color: #ff0033;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

